{{>partials/header}}

<h2>Em que ano você nasceu?</h2>

<form method="POST" action="idade-resultado">
    <input type="text" name="anoNascimento" placeholder="Digite o ano em que nasceu">
    <input type="submit" value="Enviar">
<br>
{{#mostrarIdade}}
   Você tem {{idade}} anos!
{{/mostrarIdade}}

{{>partials/footer}}